body {
  overflow: hidden;
}

#dense-grid {
  display: -ms-grid;
  display: grid;
  padding-right: 0px;
  padding-left: -2vw;
  margin-left: 42vw;
  -webkit-box-pack: stretch;
  -webkit-justify-content: stretch;
  -ms-flex-pack: stretch;
  justify-content: stretch;
  justify-items: stretch;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  grid-auto-columns: 3vw;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 3vw ;
  grid-template-columns: 3vw;
  -ms-grid-rows: 3vw;
  grid-template-rows: 3vw;
}