#incendo-grid {
  margin-top: 15vh;
  margin-bottom: 15vh;
  grid-row-gap: 50px;
  grid-column-gap: 50px;
}

#incendo-grid .letter {
  top:0px;
  left:0px;
  grid-auto-flow: row;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 3.5vw 3.5vw 3.5vw;
  grid-template-columns: 3.5vw 3.5vw 3.5vw;
  -ms-grid-rows: 12vh 12vh 12vh 12vh;
  grid-template-rows: 12vh 12vh 12vh 12vh;
}

@media screen and (max-width: 991px) {
  #incendo-grid {
    padding-left: 12vw;
    grid-gap: 40px;
  }
}

@media screen and (max-width: 767px) {
  #incendo-grid {
    padding-left: 25vw;
    grid-gap: 25px;
  }
}

@media screen and (max-width: 600px) {
  #incendo-grid {
    padding-left: 28vw;
    grid-gap: 25px;
  }
}

@media screen and (max-width: 485px) {
  #incendo-grid {
    display: none;
  }
}

.move-to-spec {
  bottom: 3vh;
}