.letter {
  -webkit-transition:all 1.0s ease-in-out;
    -moz-transition:all 1.0s ease-in-out;
    -o-transition:all 1.0s ease-in-out;
    -ms-transition:all 1.0s ease-in-out;    
    transition:all 1.0s ease-in-out;
}

.piece, .thin, .branch {
  -webkit-transition:all 1.0s linear;
  -moz-transition:all 1.0s linear;
  -o-transition:all 1.0s linear;
  -ms-transition:all 1.0s linear;    
  transition:all 1.0s linear;
}