#incendo-grid {
  margin-top: 15vh;
  grid-row-gap: 50px;
  grid-column-gap: 50px;
}

@media screen and (max-width: 991px) {
  #incendo-grid {
    padding-left: 12vw;
    grid-gap: 40px;
  }
}

@media screen and (max-width: 767px) {
  #incendo-grid {
    padding-left: 25vw;
    grid-gap: 25px;
  }
}

@media screen and (max-width: 600px) {
  #incendo-grid {
    padding-left: 28vw;
    grid-gap: 25px;
  }
}

@media screen and (max-width: 485px) {
  #incendo-grid {
    margin-top: 2vh;
    padding-left: 12vw;
    grid-row-gap: 5px;
    grid-column-gap: 0px;
    -ms-grid-columns: 80% 80% 80%;
    grid-template-columns: 80% 80% 80%;
  }
}